:root {
  --emegas-fucsia: #c63c6a;
  --emegas-lila: #2f326b;
  --emegas-azul: #94aedb;
  --emegas-naranja: #c74e31;
  --emegas-rosa: #e3adad;
  --body-background: rgba(234, 174, 172, 0.39);
}
/*BOTONES*/
.button {
  background-color: var(--emegas-azul);
  border: 3px solid var(--emegas-azul);
  color: white;
  padding: 10px 30px 10px 30px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.botonabout {
  display: flex;
  justify-content: flex-end;
}
.botonp {
  margin: 35px 0px 60px 0;
}
.botonl {
  margin: 35px 0 80px 0;
}
.button.button--more {
  background-color: var(--emegas-lila);
  border: 3px solid var(--emegas-lila);
  text-align: left;
}
.button.button--more:hover {
  background-color: transparent;
  border: 3px solid var(--emegas-lila);
  color: var(--emegas-lila);
}

.button.button--aboutus {
  background-color: var(--emegas-lila);
  border: 3px solid var(--emegas-lila);
  margin-top: 14px;
}
.button.button--aboutus:hover {
  background-color: transparent;
  border: 3px solid var(--emegas-lila);
  color: var(--emegas-lila);
  position: relative;
  float: right;
  margin-top: 14px;
}
.button.button--know {
  background-color: var(--emegas-fucsia);
  border: 3px solid var(--emegas-fucsia);
}
.button.button--know:hover {
  background-color: transparent;
  border: 3px solid var(--emegas-fucsia);
  color: #c63c6a;
}
.button.button--join {
  background-color: var(--emegas-fucsia);
  border: 3px solid var(--emegas-fucsia);
  margin: 0 70px 12px 70px;
}
.button.button--join:hover {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  margin: 0 70px 12px 70px;
}
.button.button--help {
  background-color: var(--emegas-fucsia);
  border: 3px solid var(--emegas-fucsia);
  margin: 0 70px 12px 70px;
  color: white;
}
.button.button--help:hover {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  margin: 0 70px 12px 70px;
}
/*CUERPO*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-background);
  margin: auto;
}
main {
  margin: 0 auto;
}

/* CABECERA*/

.main-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--emegas-fucsia);
  padding: 25px 0 25px 0;
}
.main-logo {
  width: 150px;
  padding-left: 14px;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: var(--emegas-lila);
  z-index: 100;
}

.main-nav.show {
  margin-left: 0;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;
}

.link-item {
  margin-top: 2rem;
  list-style: none;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  text-align: left;
}

.link-item a {
  color: white;
  text-decoration: none;
}

.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 40px;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: white;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

/*SECCION PRINCIPAL*/
h1 {
  color: black;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  margin: 0 auto;
}
#principal {
  padding-top: 60px;
}
.info {
  padding: 0px 50px;
}
.photop {
  margin: 0 40px;
}
/* MISION */
#mision {
  background-color: var(--emegas-fucsia);
  border-radius: 20px;
  padding: 0 40px;
  margin: 100px 20px 30px 20px;
}
#mision img {
  padding-top: 80px;
  max-width: 200px;
  display: flex;
  margin: 0 auto;
}
.misiontext {
  padding-bottom: 50px;
}
.misiontext h2 {
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.misiontext p {
  color: white;
  text-align: justify;
  display: flex;
  margin: 0 auto;
  max-width: 400px;
}
/* CARACTERISTICAS*/

#caracteristicas {
  margin-top: 100px;
}
#caracteristicas img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}
.box {
  padding: 0 40px;
}
.skills {
  text-align: center;
  color: black;
  text-transform: uppercase;
}
h3 {
  color: #666666;
  text-transform: lowercase;
  text-align: center;
}
h3::first-letter {
  text-transform: capitalize;
}
.service {
  text-align: center;
}

/* MOSAICO*/
#mosaico {
  background-image: url("../imgs/mosaico\ movil-1.webp");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 244px 0;
  margin: 120px 0;
}
/* FLOATING BOXES */

.loremipsum {
  margin: 50px 0 180px 0;
}
.explain {
  padding: 0 40px;
}

.floating {
  position: relative;
  transition: all 0.6s ease;
  min-height: 400px;
}
.box-1 {
  background-color: var(--emegas-lila);
  border-radius: 15px;
  max-width: 150px;
  padding: 41px 44px;
  position: absolute;
  left: 127px;
  z-index: 5;
  top: 30px;
}
.floating p {
  color: white;
}
.floating h2 {
  color: white;
}
.box-2 {
  background-color: var(--emegas-fucsia);
  border-radius: 15px;
  padding: 19px 28px;
  max-width: 200px;
  position: absolute;
  top: 180px;
  left: 13px;
  z-index: 6;
}

.box-3 {
  background-color: var(--emegas-naranja);
  border-radius: 15px;
  padding: 15px 40px;
  max-width: 80px;
  position: absolute;
  left: 207px;
  top: 299px;
}
.box-3 h2 {
  font-size: 17px;
  text-align: left;
}

/* FOOTER */
footer {
  background-color: #2f326b;
  border-radius: 20px 20px 0 0;
  padding: 20px 0 20px 0;
}
footer h2 {
  color: white;
  padding-top: 40px;
  text-transform: lowercase;
  font-size: 25px;
  font-weight: 600;
}
footer h2:first-letter {
  text-transform: uppercase;
}
#footer-info {
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
}
.contacto {
  margin: 15px 0 35px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-child {
  color: white;
  padding: 0 25px 0 25px;
  text-align: center;
}
.contact-child a {
  color: white;
  text-decoration: none;
}
.bottom-menu {
  text-align: center;
  list-style: none;
}
#menu-legal {
  padding-left: 0px;
}
#menu-legal li a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 13px;
  font-weight: 350;
}
#menu-legal li a:hover {
  color: var(--emegas-fucsia);
}
#menu-legal li {
  list-style: none;
}
.social-media a {
  padding: 16px;
  color: white;
  font-size: 25px;
  transition: 0.5s ease;
}
.social-media a:hover {
  color: var(--emegas-fucsia);
}
.bottom-menu {
  padding-top: 50px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 1024px) /* CABECERA*/ {
  .button-menu {
    display: none;
  }

  .main-logo {
    width: 220px;
    padding: 20px 45px;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
    background-color: transparent;
    padding-right: 100px;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  .link-item a {
    color: #ffffff;
    text-decoration: none;
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
    list-style: none;
  }

  .link-item::after {
    position: absolute;
    content: "";
    background-color: var(--emegas-lila);
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }

  .link-item:hover::after {
    width: 100%;
  }

  /*SECCION PRINCIPAL*/
  h1 {
    font-size: 40px;
  }
  #principal {
    display: flex;
    padding-top: 300px;
  }
  .photop {
    margin: 0 100px;
  }
  .info {
    margin-left: 100px;
    flex: 2;
  }
  .info p {
    text-align: justify;
    max-width: 600px;
  }
  .photop {
    flex: 3;
  }
  /* MISION */
  #mision {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 100px 4px 100px 4px;
    position: relative;
  }
  #mision::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-color: var(--emegas-azul);
    top: -20px;
    left: -20px;
  }
  #mision::after {
    position: absolute;
    font-family: "fontello";
    content: "\e800";
    color: var(--emegas-lila);
    font-size: 40px;
    right: -10px;
    top: 125px;
  }
  #mision > div {
    flex: 1;
  }
  #mision img {
    padding-top: 80px;
    max-width: 350px;
    display: flex;
    margin: 0 auto;
  }
  .misionimage::before {
    position: absolute;
    font-family: "fontello";
    content: "\e801";
    font-size: 80px;
    color: var(--emegas-lila);
    bottom: -40px;
    left: 0;
    transform: rotate(-14deg);
  }
  .misionimage::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 3px solid white;
    top: 60px;
    right: 600px;
  }
  .misiontext::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    top: 15px;
    right: -37px;
  }
  .misiontext::before {
    position: absolute;
    content: "";
    background-color: var(--emegas-naranja);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--emegas-naranja);
    top: 73px;
    right: -35px;
    z-index: 99;
  }

  .misiontext h2 {
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
  .botonabout {
    margin-top: 14px;
    margin-right: 70px;
  }

  /* CARACTERISTICAS*/
  #caracteristicas {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 150px;
  }
  #caracteristicas > div {
    flex: 1;
  }
  #caracteristicas img {
    max-width: 120px;
    max-height: 120px;
    margin-left: 0;
  }
  .service {
    text-align: left;
  }
  .skills {
    text-align: left;
  }
  h3 {
    text-align: left;
  }

  /* MOSAICO*/
  #mosaico {
    background-image: url("../imgs/mosaico-mujeres.webp");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 311px 0;
    margin: 120px 0;
  }

  /* FLOATING BOXES */

  .lorem {
    font-size: 40px;
    font-weight: 600;
  }
  .loremipsum {
    display: flex;
    margin: 0 auto;
    max-width: 1080px;
    margin-bottom: 150px;
  }
  .loremipsum > div {
    flex: 1;
  }
  .box-1 {
    max-width: 300px;
    padding: 60px 60px;
    position: absolute;
    left: 142px;
    z-index: 5;
  }
  .box-1:hover {
    transform: scale(1.2, 1.2);
    z-index: 15;
    transition: 0.6s;
    -webkit-box-shadow: 5px 5px 15px -3px #666666;
    box-shadow: 5px 5px 15px -3px #666666;
  }

  .box-2 {
    padding: 36px 55px;
    max-width: 200px;
    position: absolute;
    top: 180px;
    left: 13px;
    z-index: 6;
  }
  .box-2:hover {
    transform: scale(1.2, 1.2);
    z-index: 16;
    transition: 0.6s;
    -webkit-box-shadow: 5px 5px 15px -3px #666666;
    box-shadow: 5px 5px 15px -3px #666666;
  }
  .box-3 {
    padding: 30px 66px;
    max-width: 100px;
    position: absolute;
    left: 287px;
    top: 286px;
    z-index: 16;
  }
  .box-3:hover {
    transform: scale(1.2, 1.2);
    z-index: 20;
    transition: 0.6s;
    -webkit-box-shadow: 5px 5px 15px -3px #666666;
    box-shadow: 5px 5px 15px -3px #666666;
  }
  .box-3 h2 {
    font-size: 20px;
  }

  /* FOOTER */

  footer h2 {
    font-size: 40px;
  }

  #menu-legal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media {
    position: absolute;
    right: 0;
  }
}
